.experiencia {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 150px;
}

.experiencia .subtitulo {
  color: #e0e0e0;
}

.experiencia-txt {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #525252;
}

.experiencia-txt strong {
  color: #141414;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
  background: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
  gap: 15px 30px;
}

.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 30px;
  position: absolute;
  background: linear-gradient(#ccf235, #70da1c);
  top: 30px;
  left: -4px;
}

.empresa-titulo {
  font-size: 1.2rem;
  line-height: 1.1;
  font-weight: bold;
}

.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4rem;
  color: #525252;
}

.empresa-habilidade {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidade li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #ffffff;
  padding: 5px 10px;
}

.empresa-habilidade li:hover {
  background: linear-gradient(#ccf235, #70da1c);
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .experiencia .subtitulo {
    color: #141414;
  }

  .experiencia-txt {
    font-size: 1.25rem;
  }
}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}
